*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem értékének meghatározása */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

#drag {
  font-size: 4rem;
}

.drop {
  font-size: 6rem;
  color: red;
  &--drop {
    font-size: 6rem;
    color: green;
  }
}
